.calendarEventView{
    border-radius: 10px;
    color:red;
}
.calendarRootView{

}
.calendarIndicatorClassNames{
    border-radius: 10px;
    color:red;
    background-color:lightblue;
}


.fc-scrollgrid  fc-scrollgrid-liquid{
    border-radius: 10px;
}
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
}

* {
    border-radius: 10px;
}


a.default-event {
    color: #000;
    background-color: blue;
    border-bottom: 5px solid #039be5;
    border-right: 5px solid #039be5;
}

a.default-event:hover {
    margin-top: 3px;
    color: #000;
    background: blue;
    border-bottom: 2px solid #039be5;
    border-right: 2px solid #039be5;;
}


a.compare-event {
    color: #000;
    background-color: red;
    border-bottom: 5px solid orangered;
    border-right: 5px solid orangered;
}

a.compare-event:hover {
    margin-top: 3px;
    color: #000;
    background: red;
    border-bottom: 2px solid orangered;
    border-right: 2px solid orangered;;
}
